@import "tailwindcss";
@import "@nuxt/ui";
@import "./colors.css";



.hero-text {
    font-family: 'Impact';
    font-size: var(--text-6xl); /* 3.75rem (60px) */ 
    line-height: var(--text-6xl--line-height);
    display:flex;
    justify-content: center;
    align-items: center;
}


h1, h2, h3, h4, h5 {
    font-family: 'Space Grotesk'
}

* {
    font-family: 'Inter';
}