@import "tailwindcss";
@import "@nuxt/ui";

.hero-text {
    font-family: 'Impact';
    font-size: var(--text-6xl); /* 3.75rem (60px) */ 
    line-height: var(--text-6xl--line-height);
    display:flex;
    justify-content: center;
    align-items: center;
}